:root {
  --background: rgb(33, 0, 53);
  --primary-text: rgb(255, 254, 249);
  --primary-font: 'Fjalla One', sans-serif;
  --secondary-text: rgb(73, 2, 2);
  --highlight-color: rgb(234, 234, 234);
}

h1 {
  color: var(--primary-text);
  font-family: var(--primary-font);
}

li {
  list-style: none;
}

body {
  background-color: var(--background);
  margin: 0;
}

.split-content {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.right {
  position: fixed;
  right: 0;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left {
  margin: 2em;
}

.navigation {
}

.info-links {
  z-index: 10;
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 1.5em 10em;
  gap: 1.5rem;
}

.socials, 
.socials > ul {
  display: flex;
  align-items: center;
}

.page {
  height: 90svh;
  margin-bottom: 10svh;
}

.info-image {
  max-width: 150px;
  min-width: 100px;
}

.info-links > h1 {
  font-size: 1rem;
}

/* temp */
h1 { 
  margin: 0;
}
/* temp */
