:root {
  --background: rgb(198, 95, 95);
  --primary-text: rgb(138, 28, 28);
  --secondary-text: rgb(73, 2, 2);
  --highlight-color: rgb(255, 252, 233);
}

body {
  background-color: var(--background);
  margin: 0;
}
/* temp */
h1 { 
  margin: 0;
}
/* temp */

.split-content {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.info-links {
  z-index: 1000;

}

.page {
  height: 90svh;
  margin-bottom: 10svh;
}