:root {
  --background: rgb(33, 0, 53);
  --primary-text: rgb(255, 254, 249);
  --primary-font: 'Fjalla One', sans-serif;
  --secondary-font: 'Merriweather', serif;
  --secondary-text: rgb(73, 2, 2);
  --highlight-color: rgb(234, 234, 234);
}

h1 {
  color: var(--primary-text);
  font-family: var(--primary-font);
}

li {
  list-style: none;
  font-family: var(--secondary-font);
}

body {
  background-color: var(--background);
  margin: 0;
}

.split-content {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.right {
  position: fixed;
  right: 0;
  height: 100svh;
  width: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-links {
  z-index: 10;
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 1.5vh 8vw;
  gap: 1.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  opacity: 50%; 
}

.socials, 
.socials > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

.page {
  height: 90svh;
  margin-bottom: 10svh;
}

.info-image {
  max-width: 150px;
  min-width: 100px;
}

.info-links > h1 {
  font-size: 1rem;
}

/* temp */
h1 { 
  margin: 0;
}
/* temp */
.nav-link {
  text-decoration: none;
  color: white;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin-right: 3em;
}

#navigation > li {
  margin: 1em 0 1em 0;
}

.line {
  height: 4em;
  width: 1px;
  background-color: white;

}